{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
    <h2>Change Password</h2>
    <div class="card shadow-sm mt-3 p-3">
        <form method="POST" action="{{ url_for('change_password') }}">
            <div class="mb-3">
                <label for="old_password" class="form-label">Old Password</label>
                <input type="password" class="form-control" name="old_password" required>
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" class="form-control" name="new_password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-success">Change Password</button>
        </form>
    </div>
</div>

{% endblock %}
